<div class="container-fluid p-0">
    <div class="container row col-12 pr-0">
        <div class="mt-5 col-lg-4 offset-lg-4 col-md-6 offset-md-3">
            <div class="card shadow border-0">
                <div class="card-header pb-0" style="background-color:#673ab7">
                    <div class="col-12">
                        <div class="text-center text-white">
                            <div class="col-12">
                                <span class="material-icons" style="font-size: 109px;">
                                    account_circle
                                </span>
                            </div>
                            <div class="col-12">
                                <h3 class="text-white">Account Login</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form (submit)="login($event)" [formGroup]="loginForm" class="col-12 mt-5">
                        <div class="col-12">
                            <mat-form-field class="col-12">
                                <input [(ngModel)]="loginModel.username" formControlName="username" id="username" matInput placeholder="Username"/>
                                <mat-error *ngIf="loginForm.get('username').invalid">Please make sure username cannot be null</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input [(ngModel)]="loginModel.password" formControlName="password" id="password" matInput placeholder="Password" type="password"/>
                                <mat-error *ngIf="loginForm.get('password').invalid">Please make sure password have 8-10 characters and contain at least 1 special character and number</mat-error>
                                <mat-hint align="end">Example password format: Test1@b</mat-hint>
                            </mat-form-field>
                            <div class="mt-4 col-12">
                              <mat-checkbox formControlName="check" [(ngModel)]="loginModel.remember">Remember Me</mat-checkbox>
                            </div>
                            <div class="mt-4 col-12">
                                <button type="button" class="btn btn-link p-0" (click)="dialogOpen()">Forget Password</button>
                              </div>
                            <div class="col-12 mt-2">
                                <button class="float-right" color="primary" mat-raised-button type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

