<section class="col-12 mt-5">
    <div class="col-12 p-0">
        <mat-form-field appearance="outline" class="float-right">
            <mat-label>Search</mat-label>
            <input #searchIn (keyup)="search(searchIn)" matInput placeholder="Placeholder">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-light shadow">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Role Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Modified Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of data">
                        <td>
                            {{ role.id }}</td>
                        <td>
                            {{ role.rolename }}</td>
                        <td>
                            <i *ngIf="role.active" class="material-icons text-success">
                                check_circle
                            </i>
                            <i *ngIf="!role.active" class="material-icons text-danger">
                                cancel
                            </i>
                        </td>
                        <td>
                            {{ role.createdDate }}</td>
                        <td>
                            {{ role.modifiedDate }}</td>
                        <td class="text-center">
                            <button [queryParams]="{id: role.id}" [routerLink]="['/dashboard/roles/detail','update']" class="bg-primary" mat-button matTooltip="Edit">
                                <i class="material-icons text-white">
                                    create
                                </i>
                            </button>
                            <button (click)="delete(role.id)" class="bg-danger ml-4" mat-button matTooltip="Delete">
                                <i class="material-icons text-white">
                                    delete_forever
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="bg-white">
                    <tr>
                        <td colspan="6" class="p-0">
                            <mat-paginator (page)="pageEvent($event,searchIn)" [length]="model.pagination.totalPage" [pageSize]="model.pagination.pageSize" class="float-right"></mat-paginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
