<section class="col-12 mt-5">
    <div class="col-12 p-0">
        <mat-form-field appearance="outline" class="float-right">
            <mat-label>Search</mat-label>
            <input #searchIn (keyup)="search(searchIn)" matInput placeholder="Placeholder"/>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-light shadow">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Modified Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of data">
                    <td>
                        {{ user.userId }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.fname + ' ' + user.lname}}
                    </td>
                    <td>
                        {{ user.type | uppercase}}
                    </td>
                    <td class="text-center">
                        <i *ngIf="user.active" class="material-icons text-success" matTooltip="Active">
                            check_circle
                        </i>
                        <i *ngIf="!user.active" class="material-icons text-danger" matTooltip="Deactive">
                            cancel
                        </i>
                    </td>
                    <td>
                        {{ user.createdDate }}
                    </td>
                    <td>
                        {{ user.modifiedDate }}
                    </td>
                    <td class="text-center">
                        <button [queryParams]="{ id: user.userId, type: user.type }" [routerLink]="['/dashboard/users/detail/update']" class="bg-primary" mat-button matTooltip="Edit">
                            <i class="material-icons text-white">
                                create
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot class="bg-white">
                <tr>
                    <td class="p-0" colspan="9">
                        <mat-paginator (page)="pageEvent($event,searchIn)" [length]="model.pagination.totalElement" [pageSize]="model.pagination.pageSize" class="float-right"></mat-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
