<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" class="sidenav" fixedInViewport="true">
        <mat-toolbar color="primary" style="background-color:#673ab7;">
            <i class="material-icons">
                list_alt
            </i>
            Action Menu</mat-toolbar>
        <mat-nav-list>
            <a [routerLink]="['/dashboard']" mat-list-item>Dashboard
                <i class="material-icons ml-auto text-warning">
                    dashboard
                </i>
            </a>
            <div *ngIf="this.auth.havePermissionsEither(['VIEW_ROLE','CREATE_ROLE','EDIT_ROLE','DELETE_ROLE'])">
                <mat-divider></mat-divider>
                <a [routerLink]="['roles']" mat-list-item>Roles
                    <i class="material-icons ml-auto text-success">
                        security
                    </i>
                </a>
            </div>
            <div *ngIf="this.auth.havePermissionsEither(['VIEW_USER','CREATE_USER','MODIFY_USER'])">
                <mat-divider></mat-divider>
                <a [routerLink]="['users']" mat-list-item>Users
                    <i class="material-icons ml-auto text-primary">
                        people
                    </i>
                </a>
            </div>
            <div *ngIf="this.auth.havePermissions(['WITHDRAW_APPROVAL'])">
                <mat-divider></mat-divider>
                <a [routerLink]="['withdrawal']" mat-list-item>Withdrawal
                    <i class="material-icons ml-auto text-danger ">
                        payment
                    </i>
                </a>
            </div>
            <div *ngIf="this.auth.havePermissions(['VIEW_TRANSACTION'])">
                <mat-divider></mat-divider>
                <a [routerLink]="['transaction/list']" mat-list-item>Transaction List
                    <i class="material-icons ml-auto text-secondary ">
                        list_alt
                    </i>
                </a>
            </div>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>
                <i class="material-icons align-middle">
                    attach_money
                </i>
                mchanger</span>
            <a [routerLink]="['profile']" class="text-white align-center ml-auto" color="primary" mat-button>
                {{ userInfo.username }}
                <i class="material-icons align-center">
                    person
                </i>
            </a>
            <button (click)="drawer.toggle()" aria-label="Toggle sidenav" class="ml-auto" mat-icon-button type="button">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
