<h1 mat-dialog-title>Forget Password</h1>
<div mat-dialog-content>
  <form [formGroup]="resetForm" method="post">
      <mat-form-field class="col-lg-12">
          <input [(ngModel)]="data.data.username" matInput formControlName="username" placeholder="Username" type="text"/>
          <mat-error *ngIf="resetForm.get('username').invalid">Username cannot be null</mat-error>
      </mat-form-field>
      <mat-form-field class="col-lg-12">
          <input [(ngModel)]="data.data.email" matInput formControlName="email" placeholder="Email" type="text"/>
          <mat-error *ngIf="resetForm.get('email').invalid">Email cannot be null and make sure it in valid format</mat-error>
      </mat-form-field>
      <mat-form-field class="col-lg-12">
          <input [(ngModel)]="data.data.password" matInput formControlName="password" placeholder="Passowrd" type="text"/>
          <mat-error *ngIf="resetForm.get('password').invalid">Please make sure password have 8-10 characters and contain at least 1 special character and number</mat-error>
          <mat-hint align="end">Example password format: Abc2344$</mat-hint>
        </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button (click)="reset($event)" color="primary" mat-raised-button>Reset</button>
</div>
